CherryPy==3.7.0
amqp==1.4.6
anyjson==0.3.3
behave==1.2.5
billiard==3.3.0.20
bottle==0.12.8
celery==3.1.18
kombu==3.0.26
mock==1.0.1
parse==1.6.6
parse-type==0.3.4
pytz==2015.4
six==1.9.0
redis==2.10.3
requests==2.7.0
git+https://github.com/Puciek/simple-bipartite-graph.git